.navbar {
  background-color: black;
}

.blue {
  font-weight: 700;
  /* color: #007bff; */
}

.settings {
  margin-top: 2rem;
}
label {
  font-size: large;
  font-weight: 500;
}
#wood {
  display: none;
}


#submit_button {
  margin: 1rem;
}

#submit_button1 {
  margin: 1rem;
}

#submit_button2 {
  margin: 1rem;
}

#full-display {
  display: flex;
  flex-direction: row;
}
/*
#input-div {
  width: 50%;
} */

/* #div-label-1 {
  zoom: 1.5;
  -moz-transform: scale(1.5);
}
#div-label-2 {
  zoom: 1.5;
  -moz-transform: scale(1.5);
}
#div-label-3 {
  zoom: 1.5;
  -moz-transform: scale(1.5);
}

#div-label-4 {
  zoom: 1.5;
  -moz-transform: scale(1.5);
  position: absolute;
  bottom: 0;
  margin-bottom: 10rem;
} */

#direction-buttons {
  display: flex;
  flex-direction: row;
}